# Params app
VERSION=1.0.0
NAME_IMAGE_DOCKER=inesdi/blog

NAME_IMAGE_APP=inesdiApp
NAME_IMAGE_DB=inesdiDb
NAME_NETWORK=inesdi

APP_PORT=8081

# Enviroments DB
DB_NAME=blog
DB_USERNAME=root
DB_PASSWORD=A4Yd@n[9X6
DB_HOST=inesdiDb
DB_PORT=3306
DB_PORT_SHARED=3308