<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{.title}}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <!-- Favicon -->
        <link href="/public/image/favicon.ico" rel="icon">
        <!-- Customized Bootstrap Stylesheet -->
        <link href="/public/css/style.css" rel="stylesheet"/>
        <link href="/public/css/custom.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-text d-flex flex-column h-100">
                    <h2 class="font-weight-bold  text-center">Publicar articulos</h2>
                    <form class="mt-4 formRegisterPublications" action="/save" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                          <label for="title" class="font-weight-bold">Título</label>
                          <input type="text" class="form-control" id="title" name="title" placeholder="Título">
                        </div>
                        <div class="form-group">
                          <label for="description" class="font-weight-bold">Contenido</label>
                          <textarea class="form-control" id="description" name="description" rows="5" placeholder="Contenido"></textarea>
                        </div>
                        <div class="form-group form-group-file">
                            <label id="imageLabel" for="image-file">Click para escoger imagen</label>
                            <input type="file"
                                name="imageArticle"
                                id="image-file"
                                accept="image/x-png, image/jpeg"
                                style="display : none"
                            />
                          </div>

                        <button class="btn btn-lg btn-block btn-primary mt-auto">Publicar</button>
                    </form>
                   
                </div>
                <div class="sidebar-icon d-flex flex-column h-100 justify-content-center text-right">
                    <i class="fas fa-2x fa-angle-double-right text-primary"></i>
                </div>
            </div>
            <div class="content">
                <!-- Navbar Start -->
                <div class="container p-0">
                    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
                        <a href="" class="navbar-brand d-block d-lg-none">Navigation</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav">
                                <a href="/" class="nav-item nav-link active">Inicio</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- Navbar End -->
                
                <!-- Blog List Start -->
                <div class="container bg-white pt-5">
                    {{ range .articles }}
                    <div class="row blog-item px-3 pb-5">
                        <div class="col-md-5">
                            <img class="img-fluid mb-4 mb-md-0" src="/article/{{.Image}}" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <h3 class="mt-md-1 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{.Title}}</h3>
                            <div class="d-flex mb-3">
                                <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{.CreatedAt}}</small>
                            </div>
                            <p>
                                {{.Detail}}
                            </p>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <!-- Blog List End -->
                <!-- Footer Start -->
                <div class="container py-4 bg-secondary text-center">
                    <p class="m-0 text-white">
                        &copy; <a class="text-white font-weight-bold" href="#">Practicas docker</a>
                    </p>
                </div>
                <!-- Footer End -->
            </div>
        </div>
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/public/lib/easing/easing.min.js"></script>
        <script src="/public/lib/waypoints/waypoints.min.js"></script>

        <!-- Template Javascript -->
        <script src="/public/js/main.js"></script>
        <script src="/public/js/custom.js"></script>
    </body>
</html>
